<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="leftMenu.css">
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div class="main-container">
  <div class="title">
    메뉴
  </div>
  <div class="content-container">
    <div class="menu-container">
      <div class="first-menu">
        <label>운영 관리</label>
        <div class="second-menu">영업 일정 관리</div>
        <div class="second-menu">주문 내역 조회</div>
        <div class="second-menu">QR 코드 재발급 (추후 구현)</div>
      </div>

      <div class="first-menu">
        <label>메뉴 관리</label>
        <div class="second-menu">메뉴 관리</div>
        <div class="second-menu">품절 관리</div>
      </div>

      <div class="first-menu">
        <label>설정 관리</label>
        <div class="second-menu">프로그램 설정 (추후 구현)</div>
        <div class="second-menu">프로그램 정보 (추후 구현)</div>
      </div>
    </div>
  </div>
</div>
</body>
</html>