<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/client/layouts/defaultClient}">

<div layout:fragment="content" class="container p-0 pt-2">
    <div class="col-10 p-3 d-flex flex-column position-fixed top-50 start-50 translate-middle bg-white gap-4">
        <div class="col-12 d-flex justify-content-center">
            <div class="col-10 mt-3 bg-secondary" style="height: 10rem;">
                가게 로고 이미지
            </div>
        </div>
        <div class="col-12 text-center">
            안녕하세요.<br>
            진심을 담은 고기장인 입니다.<br>
            편리하게 모바일로 포장 주문을 해보세요.
        </div>
        <div class="col-12 d-flex justify-content-center">
            <button type="button" class="basic-btn" onclick="commonRedirect('/client/menuList')">주문하기</button>
        </div>
    </div>
</div>
</html>