<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/client/layouts/defaultClient}">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/client/menuList.css}">
</th:block>

<th:block layout:fragment="script">
    <script th:src="@{/js/client/menuList.js}"></script>
</th:block>

<div layout:fragment="content" class="container p-0 pt-2">
    <div class="col-12 d-flex flex-column gap-2" style="margin-bottom: 9rem">
        <div class="col-12 d-flex flex-column bg-white" th:each="category : ${categoryList}">
            <div class="ps-3 mt-3 fs-3 fw-semibold" th:text="${category.caName}"></div>
            <div class="col-12 p-3 d-flex justify-content-between position-relative border-bottom menu-card"
                 th:each="menu : ${menuList}"
                 th:if="${menu.meCaId == category.caId}"
                 th:data-id="${menu.meId}"
                 th:style="${menu.meStatus.toString() == 'SOLD_OUT'} ? 'pointer-events: none; opacity: 0.6; cursor: not-allowed;' : ''">
            <div class="col-6 d-flex flex-column justify- content-between">
                <div class="fs-5" th:text="${menu.meName + (menu.meStatus.toString() == 'SOLD_OUT' ? ' (품절)' : '')}"></div>
                <div class="text-secondary text-truncate" th:utext="${menu.meDescription}"></div>
                <div class="fs-5 fw-semibold" th:text="${#numbers.formatInteger(menu.mePrice, 1, 'COMMA')} + '원 ~ '"></div>
            </div>
                <div class="img-div">
                    <img class="w-100 h-100 rounded border"
                         th:if="${menu.meImagePath != null}"
                         th:src="@{/api/image(imagePath=${menu.meImagePath})}"/>
                    <div class="w-100 h-100 rounded border bg-light"
                         th:if="${menu.meImagePath == null}"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="bottom-bar col-12 p-3 position-fixed start-0 bottom-0 bg-white z-1">
        <div class="mb-3 d-flex justify-content-between">
            <div class="fs-5 fw-semibold">주문금액</div>
            <div id="total-price" class="fs-5 fw-semibold"></div>
        </div>
        <div class="d-flex justify-content-center">
            <button type="button" id="submit-btn" class="btn btn-primary col-8 fs-5 fw-bold">
                <span id="total-count"
                      class="me-2 d-inline-flex justify-content-center align-items-center bg-light text-primary fw-bold rounded-circle"
                      style="width: 1.5rem; height: 1.5rem;"></span>
                장바구니
            </button>
        </div>
    </div>

    <!-- 메뉴 상세 팝업 -->
    <div id="menu-detail-pop">
        <div class="w-100 h-100 position-fixed top-0 start-0 z-3 bg-default menu-detail-pop"
             th:if="${menuDetail != null}">
            <input type="hidden" id="meId" th:value="${menuDetail.meId}">
            <div class="h-100 overflow-scroll">
                <div class="col-12 d-flex flex-column" style="margin-bottom: 7rem">
                    <div class="col-12 bg-white">
                        <i id="close-menu-detail-pop" class="bi bi-arrow-left-circle p-2 ps-3 fs-1"></i>
                    </div>
                    <div class="col-12 d-flex justify-content-center bg-white">
                        <div class="menu-img-div col-10 p-2 d-flex justify-content-center overflow-hidden">
                            <img class="w-100 h-100"
                                 th:if="${menuDetail.meImagePath != null}"
                                 th:src="@{/api/image(imagePath=${menuDetail.meImagePath})}"/>
                        </div>
                    </div>
                    <div class="py-2 px-3 d-flex flex-column gap-2 bg-white">
                        <div class="ps-1 fs-4 fw-semibold" th:text="${menuDetail.meName}"></div>
                        <div class="text-secondary text-break" th:utext="${menuDetail.meDescription}"></div>
                    </div>
                    <div class="col-12 mt-1 d-flex flex-column gap-1">
                        <div class="col-12 p-3 bg-white">
                            <div class="mb-3 d-flex justify-content-between fs-4 fw-semibold gap-1">
                                <div>가격</div>
                                <div class="fs-6 text-secondary">(필수)</div>
                            </div>
                            <div class="col-12 d-flex justify-content-between">
                                <div class="fs-5 fw-semibold" th:text="${menuDetail.meName}"></div>
                                <div class="d-flex align-items-center gap-2">
                                    <div class="fs-5 fw-semibold" th:text="'+ ' + ${#numbers.formatInteger(menuDetail.mePrice, 1, 'COMMA')} + ' 원'"></div>
                                    <input type="radio" class="form-select-size m-0 border-2" checked/>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 p-3 bg-white menu-option-group"
                             th:each="menuOptionGroup : ${menuDetail.menuOptionGroupClientDtoList}"
                             th:attr="data-min-select=${menuOptionGroup.ogMinSelect}, data-max-select=${menuOptionGroup.ogMaxSelect}">
                            <div class="mb-3 d-flex justify-content-between fs-4 fw-semibold gap-1">
                                <div th:text="${menuOptionGroup.ogName}"></div>
                                <div class="d-flex">
                                    <div class="fs-6 text-secondary" th:if="${menuOptionGroup.ogMinSelect > 0}">(필수)</div>
                                    <div class="fs-6 text-secondary" th:if="${menuOptionGroup.ogMaxSelect > 1}"
                                         th:text="'(최대 ' + ${menuOptionGroup.ogMaxSelect} + ')'"></div>
                                </div>
                            </div>

                            <div class="col-12 mb-1 d-flex justify-content-between select-wrapper"
                                 th:each="menuOption, iterStat : ${menuOptionGroup.menuOptionClientDtoList}"
                                 th:if="${menuOptionGroup.ogMaxSelect == 1}"
                                 th:style="${menuOption.opStatus.toString() == 'SOLD_OUT'} ? 'pointer-events: none; opacity: 0.6; cursor: not-allowed;' : ''">
                                <div class="fs-5 fw-semibold" th:text="${menuOption.opName + (menuOption.opStatus.toString() == 'SOLD_OUT' ? ' (품절)' : '')}"></div>
                                <div class="d-flex align-items-center gap-2">
                                    <div class="fs-5 fw-semibold" th:text="'+ ' + ${#numbers.formatInteger(menuOption.opPrice, 1, 'COMMA')} + '원'"></div>
                                    <input type="radio" class="form-select-size m-0 border-2" th:name="${menuOptionGroup.ogName}"
                                           th:attr="checked=${iterStat.index == 0}"
                                           th:value="${menuOption.opId}"
                                           th:disabled="${menuOption.opStatus.toString() == 'SOLD_OUT'}"/>
                                </div>
                            </div>

                            <div class="col-12 mb-1 d-flex justify-content-between select-wrapper"
                                 th:each="menuOption : ${menuOptionGroup.menuOptionClientDtoList}"
                                 th:if="${menuOptionGroup.ogMaxSelect != 1}"
                                 th:style="${menuOption.opStatus.toString() == 'SOLD_OUT'} ? 'pointer-events: none; opacity: 0.6; cursor: not-allowed;' : ''">
                                <div class="fs-5 fw-semibold" th:text="${menuOption.opName + (menuOption.opStatus.toString() == 'SOLD_OUT' ? ' (품절)' : '')}"></div>
                                <div class="d-flex align-items-center gap-2">
                                    <div class="fs-5 fw-semibold" th:text="'+ ' + ${#numbers.formatInteger(menuOption.opPrice, 1, 'COMMA')} + '원'"></div>
                                    <input type="checkbox" class="form-select-size m-0 border-2"
                                           th:value="${menuOption.opId}"
                                           th:disabled="${menuOption.opStatus.toString() == 'SOLD_OUT'}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 position-fixed start-0 bottom-0 bg-white shadow-bar z-3">
                <div class="col-12 p-4 d-flex justify-content-between">
                    <button type="button" id="add-menu-btn" class="col-6 btn btn-primary col-5 fs-5 fw-bold">장바구니 담기</button>
                    <div class="fs-4 fw-semibold align-content-center total-me-price">23,000원</div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>