<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/client/layouts/defaultClient}">

<th:block layout:fragment="script">
  <script th:src="@{/js/client/orderList.js}"></script>
</th:block>

<div layout:fragment="content" class="container p-0">
  <div class="col-12 mb-2 px-3 py-2 d-flex justify-content-between align-items-center bg-white">
    <i class="bi bi-arrow-left-circle fs-1" onclick="window.history.back();"></i>
    <div class="position-absolute start-50 translate-middle-x fs-5 fw-bold">장바구니</div>
    <button type="button" class="btn border-dark" onclick="window.history.back();">
      <i class="bi bi-plus"></i>
      메뉴추가
    </button>
  </div>

  <div class="col-12 d-flex flex-column" id="order-list"></div>

  <div class="col-12 d-flex flex-column" style="margin-bottom: 7rem;">
    <div class="col-12 p-3 mt-2 d-flex flex-column bg-white gap-2">
      <div class="d-flex justify-content-between">
        <label for="orPayment" class="col-4 align-content-center fs-5 fw-bold">
          결제방법
          <span class="text-danger">*</span>
        </label>
        <select id="orPayment" class="basic-input col-7 border bg-white text-dark">
          <option>결제방법</option>
          <option>현금결제</option>
          <option>카드결제</option>
          <option>계좌이체</option>
        </select>
      </div>
      <div class="d-flex justify-content-between">
        <label for="orPhone" class="col-4 align-content-center fs-5 fw-bold">
          전화번호
          <span class="text-danger">*</span>
        </label>
        <input type="text" id="orPhone" class="basic-input col-7 border"/>
      </div>
      <div class="d-flex justify-content-between">
        <label for="orArrival" class="col-4 align-content-center fs-5 fw-bold">
          도착시간
          <span class="text-danger">*</span>
        </label>
        <div class="col-7 px-2 d-flex justify-content-between border fs-4">
          <div class="col-3 text-center">
            <i class="bi bi-dash"></i>
          </div>
          <div id="orArrival">15</div>
          <div class="col-3 text-center">
            <i class="bi bi-plus"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bottom-bar col-12 p-3 position-fixed start-0 bottom-0 bg-white z-1">
    <div class="d-flex justify-content-center">
      <button type="button" class="btn btn-primary col-8 fs-5 fw-bold">
        결제하기
        <span class="me-2 text-white fw-bold">(43,000원)</span>
      </button>
    </div>
  </div>
</div>
</html>