<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/menu/menuManage.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="main-container">
    <div class="title">
      메뉴 관리
    </div>
    <div class="content-container">
        <div class="menu-list">
            <div class="menu-item">
                <div class="btn-div">
                    <button class="del-btn" style="margin-bottom: 1rem;">X</button>
                </div>
                <img src="스크린샷%202025-03-26%20오후%202.49.53.png" class="menu-img">
                <div>장인의 실속 보따리</div>
                <div>28,000원</div>
            </div>
            <div class="menu-item">
                <div class="btn-div">
                    <button class="del-btn" style="margin-bottom: 1rem;">X</button>
                </div>
                <img src="스크린샷%202025-03-26%20오후%202.49.53.png" class="menu-img">
                <div>장인의 실속 보따리</div>
                <div>28,000원</div>
            </div>
            <div class="menu-item">
                <div class="btn-div">
                    <button class="del-btn" style="margin-bottom: 1rem;">X</button>
                </div>
                <img src="스크린샷%202025-03-26%20오후%202.49.53.png" class="menu-img">
                <div>장인의 실속 보따리</div>
                <div>28,000원</div>
            </div>
            <div class="menu-item">
                +
            </div>
        </div>
    </div>
</div>
</body>
</html>