<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/menu/updateMenu.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="main-container">
    <div class="title">
      메뉴 수정
    </div>
    <div class="content-container">
        <form class="input-form">
            <div class="input-container">
                <label for="menu_name">메뉴명</label>
                <input type="text" class="default-input" id="menu_name"/>
            </div>

            <div class="input-container">
                <label for="menu_cost">메뉴 금액</label>
                <input type="number" class="default-input" id="menu_cost"/>
            </div>

            <div class="input-container">
                <label for="menu_image">메뉴 사진</label>
                <input type="file" class="default-input" id="menu_image"/>
            </div>

            <div class="img-preview">

            </div>

            <div class="input-container">
                <label for="menu_explain">메뉴 간단 설명</label>
                <textarea class="default-input" id="menu_explain"></textarea>
            </div>

            <div class="input-container">
                <label for="menu_explain" style="margin-top: 2rem;">필수 옵션</label>
            </div>

            <div class="input-container">
                <label for="menu_explain" style="margin-top: 2rem;">선택 옵션</label>
            </div>

            <button type="button" class="default-btn">메뉴 수정</button>
        </form>
    </div>
</div>
</body>
</html>