<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/manager/layouts/default}">

<th:block layout:fragment="script">
  <script th:src="@{/js/manager/menuSoldOut/manageMenuSoldOut.js}"></script>
</th:block>

<div layout:fragment="content" class="container col-8 p-0 d-flex flex-column align-items-center bg-white">

  <div class="col-12 mt-3 d-flex justify-content-start">
    <button type="button" class="basic-tag-btn border-end active">메뉴품절 관리</button>
    <button type="button" class="basic-tag-btn" onclick="commonRedirect('/menu-option/sold-out/manage')">옵션품절 관리</button>
  </div>

  <hr class="col-12 m-0 mb-3">
  <div class="col-11 py-3 ps-3 fs-4 fw-bold text-start border-bottom border-dark border-3">메뉴품절 관리</div>
  <div class="col-12 mt-3 text-secondary text-center">
    * 품절 처리는 고객님들에게 보여집니다.<br>
    메뉴판에서 보이지 않길 원하시면 '숨김'으로 변경해주세요.
  </div>
  <div class="col-6 my-4 d-flex justify-content-center align-items-center">
    <div class="col-11 ms-3 position-relative">
      <input type="text" id="search-word" class="col-12 basic-search-bar border border-2 border-secondary" placeholder="메뉴명으로 검색">
      <i class="bi bi-search position-absolute top-50 end-0 translate-middle-y me-3 fs-5 text-secondary"></i>
    </div>
  </div>

  <div id="menu-sold-out-list" class="col-9">
    <div class="col-12 mb-3" th:each="category : ${categoryList}">
      <div class="ms-3 fs-5 fw-bold" th:text="${category.caName}"></div>

      <hr class="col-12 m-0 mb-3">

      <div class="col-12 d-flex flex-column align-items-center">
        <div class="basic-card col-10 mb-3 d-flex flex-column align-items-center"
             th:each="menuSoldOut : ${menuSoldOutList}"
             th:if="${menuSoldOut.meCaId == category.caId}"
             th:attr="data-id=${menuSoldOut.msMeId}">
          <div class="col-12 px-3 py-2 d-flex justify-content-between">
            <div class="col-8 fs-5 fw-bold" th:text="${menuSoldOut.meName}"></div>
            <div class="col-4 d-flex justify-content-end gap-3">
              <button type="button" class="btn btn-success col-6 cs-p hide-btn" th:if="${menuSoldOut.meStatus.toString() == 'AVAILABLE' && menuSoldOut.msId == null}">숨김</button>
              <button type="button" class="btn btn-danger col-6 cs-p sold-out-btn" th:if="${menuSoldOut.meStatus.toString() == 'AVAILABLE' && menuSoldOut.msId == null}">품절</button>
              <button type="button" class="btn btn-secondary col-6 cs-p cancel-hide-btn" th:if="${menuSoldOut.meStatus.toString() == 'HIDDEN'}">숨김취소</button>
              <button type="button" class="btn btn-danger col-6 cs-p sold-out-btn" th:if="${menuSoldOut.meStatus.toString() == 'AVAILABLE' && menuSoldOut.msId != null}" disabled>품절예정</button>
              <button type="button" class="btn btn-danger col-6 cs-p sold-out-btn" th:if="${menuSoldOut.meStatus.toString() == 'SOLD_OUT'}" disabled>품절중</button>
            </div>
          </div>
          <div class="col-12 px-3 d-flex justify-content-end gap-2"
               th:if="${menuSoldOut.msId != null}">
            <div class="text-danger"
                 th:text="${#temporals.format(menuSoldOut.msStart, 'yyyy년 M월 d일 H시 mm분')}">
            </div>
            <div class="text-danger">-</div>
            <div class="text-danger"
                 th:text="${#temporals.format(menuSoldOut.msEnd, 'yyyy년 M월 d일 H시 mm분')}">
            </div>
            <button type="button" class="btn btn-danger ms-2 px-1 py-0 fs-7 cancel-sold-out-btn">취소</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 품절 설정 팝업 -->
  <div class="d-none" id="create-soldout-pop">
    <div class="basic-popup col-5 position-fixed top-50 start-50 translate-middle z-4">
      <div class="col-12 pe-2 pb-2 mb-2 d-flex justify-content-between align-items-center">
        <div class="ms-3 mt-2 fs-4 fw-bold">품절 처리</div>
        <svg id="close-create-soldout-pop" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
             class="bi bi-x-lg cs-p" viewBox="0 0 16 16" stroke="currentColor" stroke-width="1.5">
          <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
        </svg>
      </div>

      <div class="col-12 d-flex flex-column gap-1">
        <label class="ms-3 fw-semibold">품절 시작</label>
        <div class="col-12 d-flex mb-2">
          <div class="input-group p-2 text-center" id="msStartDate" data-td-target-input="nearest" data-td-target-toggle="nearest">
            <input type="text" class="form-control" data-td-target="#msStartDate" readonly/>
            <span class="input-group-text" data-td-target="#msStartDate" data-td-toggle="datetimepicker">
            <i class="bi bi-calendar"></i>
            </span>
          </div>
          <div class="input-group  p-2 text-center" id="msStartTime" data-td-target-input="nearest" data-td-target-toggle="nearest">
            <input type="text" class="form-control" data-td-target="#msStartTime" readonly/>
            <span class="input-group-text" data-td-target="#msStartTime" data-td-toggle="datetimepicker">
            <i class="bi bi-clock"></i>
          </span>
          </div>
        </div>

        <label class="ms-3 fw-semibold">품절 종료</label>
        <div class="col-12 d-flex mb-2">
          <div class="input-group p-2 text-center" id="msEndDate" data-td-target-input="nearest" data-td-target-toggle="nearest">
            <input type="text" class="form-control" data-td-target="#msEndDate" readonly/>
            <span class="input-group-text" data-td-target="#msEndDate" data-td-toggle="datetimepicker">
            <i class="bi bi-calendar"></i>
            </span>
          </div>
          <div class="input-group  p-2 text-center" id="msEndTime" data-td-target-input="nearest" data-td-target-toggle="nearest">
            <input type="text" class="form-control" data-td-target="#msEndTime" readonly/>
            <span class="input-group-text" data-td-target="#msEndTime" data-td-toggle="datetimepicker">
            <i class="bi bi-clock"></i>
          </span>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-center gap-4">
        <button type="button" id="close-btn" class="btn btn-secondary px-2 py-1 mb-3">취소</button>
        <button type="button" id="create-btn" class="btn btn-danger px-2 py-1 mb-3">품절 설정</button>
      </div>
    </div>
    <div id="create-soldout-pop-dark-area" class="w-100 h-100 position-fixed top-0 start-0 bg-black opacity-50 z-3"></div>
  </div>
</div>
</html>