<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<body>
<header th:fragment="header" class="col-12 d-flex justify-content-center position-fixed top-0 start-0 py-2">
  <div class="col-12 position-relative d-flex justify-content-center">
    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-list position-absolute top-50 translate-middle-y start-0 ms-4 cs-p" viewBox="0 0 16 16" id="leftMenu-icon">
      <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
    </svg>
    <div class="col-3 align-content-center border border-2 text-center fs-2 rounded-pill cs-p">고기장인</div>
  </div>
</header>
</body>
</html>