<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<body>
<leftMenu th:fragment="leftMenu">
    <div class="leftMenu col-3 h-100 pt-3 d-flex flex-column align-items-center position-fixed top-0 start-0 bg-white gap-5 z-1" id="leftMenu">
        <div class="col-10 d-flex flex-column gap-1">
            <div class="mb-2 fs-5 fw-bold">운영 관리</div>
            <div class="menu-hover px-2 py-1 rounded">영업 일정 관리</div>
            <div class="menu-hover px-2 py-1 rounded">주문 내역 조회</div>
            <div class="menu-hover px-2 py-1 rounded">QR 코드 재발급</div>
        </div>

        <div class="col-10 d-flex flex-column gap-2">
            <div class="mb-2 fs-5 fw-bold">메뉴 관리</div>
            <div class="menu-hover px-2 py-1 rounded">메뉴 추가 / 수정</div>
            <div class="menu-hover px-2 py-1 rounded">메뉴 품절 관리</div>
        </div>
    </div>

    <div class="w-100 h-100 position-fixed top-0 start-0 bg-black opacity-50 z-0 toggle-hide" id="darkArea"></div>
</leftMenu>
</body>
</html>