<div class="col-12"
     th:fragment="order-list-fragment">
  <div class="p-3 d-flex justify-content-between bg-white border-bottom"
       th:each="order : ${orderList}">
    <div class="col-7 d-flex flex-column">
      <div class="mb-2 fs-5 fw-semibold" th:text="${order.meName}"></div>
      <div class="col-12 text-secondary text-wrap text-break" th:text="'가격: ' + ${#numbers.formatInteger(order.mePrice, 1, 'COMMA')} + '원'"></div>
      <div class="col-12 mb-2 text-secondary text-wrap text-break"
           th:each="menuOptionGroupClientDto : ${order.menuOptionGroupClientDtoList}">
        <span th:text="${menuOptionGroupClientDto.ogName} + ': '"></span>
        <span th:each="menuOptionClientDto, stat : ${menuOptionClientDtoList}">
          <span th:text="${menuOptionClientDto.opName} + ': ' + ${#numbers.formatInteger(menuOptionClientDto.opPrice, 1, 'COMMA')} + '원'"></span>
          <span th:if="${!stat.last}"> / </span>
        </span>
      </div>
      <div class="d-flex gap-3">
        <i class="bi bi-x-square fs-4 text-danger"></i>
        <div class="fs-4 fw-semibold">23,000원</div>
      </div>
    </div>
    <div class="d-flex flex-column justify-content-between">
      <div class="img-div">
        <img src="/images/test.png" class="w-100 h-100 rounded">
      </div>
      <div class="px-2 d-flex justify-content-between border fs-4">
        <div class="col-4 text-center">
          <i class="bi bi-dash"></i>
        </div>
        <div>3</div>
        <div class="col-4 text-center">
          <i class="bi bi-plus"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="p-3 mt-2 d-flex justify-content-between bg-white fs-5">
    <div>전체결제금액</div>
<!--    <div th:text="${#numbers.formatInteger(orderList.totalPrice, 1, 'COMMA')}">33,300원</div>-->
    <div>33,300원</div>
  </div>
</div>