<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../css/manage/orderHistory.css">
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div class="main-container">
  <div class="title">
    주문 내역 조회
  </div>
  <div class="content-container">
    <div class="search-bar">
      <div class="search-info">
        <label>날짜</label>
        <input type="date" />
        <span style="font-size: 2rem;">~</span>
        <input type="date" />
      </div>
      <button type="button" class="search-btn">검색</button>
    </div>

    <div class="order-list">
      <div class="order-div">
        <div class="order-text">19000원</div>
        <div>2024-01-02 18:21</div>
        <button class="status-btn" type="button">전달 완료</button>
      </div>
      <div class="order-div">
        <div class="order-text">19000원</div>
        <div>2024-01-02 18:21</div>
        <button class="status-btn" type="button">전달 완료</button>
      </div>
      <div class="order-div">
        <div class="order-text">19000원</div>
        <div>2024-01-02 18:21</div>
        <button class="status-btn" type="button">주문 접수</button>
      </div>
      <div class="order-div">
        <div class="order-text">19000원</div>
        <div>2024-01-02 18:21</div>
        <button class="status-btn" type="button">주문 취소</button>
      </div>
    </div>
  </div>
</div>
</body>
</html>