<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../css/manage/orderDetail.css">
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div class="main-container">
  <div class="title">
    주문 내역 상세
  </div>
  <div class="sub-header">
    <button class="status-btn">주문 완료</button>
  </div>
  <div class="content-container">
    <div class="info-container">
      <div class="info-div">
        <label>고객 전화 번호</label>
        <div>010 - 7196 - 7401</div>
      </div>
      <div class="info-div">
        <label>금액</label>
        <div>98,000원</div>
      </div>
      <div class="info-div">
        <label>주문 일시</label>
        <div>2025-03-03 19:20</div>
      </div>
    </div>

    <div class="menu-container" style="margin-top: 3rem;">
      <div class="menu-item">
        <div>고기만 1KG</div>
        <div>2개</div>
        <div>36,000원</div>
      </div>
      <div class="menu-item">
        <div>고기만 1KG</div>
        <div>2개</div>
        <div>36,000원</div>
      </div>
      <div class="menu-item">
        <div>고기만 1KG</div>
        <div>2개</div>
        <div>36,000원</div>
      </div>
      <div class="menu-entire">
        <div>합계</div>
        <div>36,000원</div>
      </div>
    </div>
  </div>
</div>
</body>
</html>