body {
    background-color: #a8a8a8;
    display: flex;
    justify-content: center;
}
.main-container {
    width: 60%;
    padding: 3rem;
    background-color: #ffffff;
}
.title {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 3rem;
}
.content-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.first-menu {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.second-menu {
    font-size: 1rem;
    font-weight: normal;
}