<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/manager/layouts/default}">

<th:block layout:fragment="script">
    <script th:src="@{/js/manager/account/manageAccount.js}"></script>
</th:block>

<div layout:fragment="content" class="container col-8 p-0 d-flex flex-column align-items-center bg-white">

    <div class="col-12 mt-3 d-flex justify-content-start">
        <button type="button" class="basic-tag-btn border-end" onclick="commonRedirect('/account/create')">계정추가</button>
        <button type="button" class="basic-tag-btn active">계정관리</button>
    </div>

    <hr class="col-12 m-0 mb-3">
    <div class="col-11 py-3 ps-3 fs-4 fw-bold text-start border-bottom border-dark border-3">계정수정</div>
    <div class="col-7 mt-5 my-3 d-flex justify-content-center">
        <div class="col-10 ms-3 position-relative">
            <input type="text" class="col-12 basic-search-bar border border-2 border-secondary"
                   id="search-word"
                   placeholder="계정명 혹은 ID로 검색">
            <i class="bi bi-search position-absolute top-50 end-0 translate-middle-y me-3 fs-5 text-secondary"></i>
        </div>
    </div>
    <div class="bg-table col-7 mb-5 p-3 shadow-sm" id="account-list">
        <table class="col-12">
            <thead>
            <tr class="border-bottom">
                <th class="col-1 pb-2">
                    <input type="checkbox"/>
                </th>
                <th class="col-2 pb-2">계정명</th>
                <th class="col-2 pb-2">ID</th>
                <th class="col-4 pb-2">생성일</th>
            </tr>
            </thead>
            <tbody class="border-bottom">
            <tr th:each="account : ${accountList}" th:attr="data-id=${account.acId}">
                <td class="py-1">
                    <input type="checkbox" class="account-check"/>
                </td>
                <td class="py-1" th:text="${account.acName}">홍길동</td>
                <td class="py-1" th:text="${account.acLoginId}">hong123</td>
                <td class="py-1" th:text="${#temporals.format(account.createdAt, 'yyyy년 M월 d일 H시 m분')}">2025년 8월 31일 18시 20분</td>
            </tr>
            </tbody>
        </table>
        <div th:if="${accountList.totalElements == 0}" class="col-12 mt-3 text-center text-secondary">
            계정을 찾을 수 없습니다
        </div>
        <button type="button" class="btn btn-danger px-2 pt-1 pb-0 mt-3" id="delete-btn">
            <i class="bi bi-trash3-fill"></i>
            삭제
        </button>
        <div th:if="${accountList.totalElements != 0}" th:include="manager/fragments/pagination :: pagination(${currentPage}, ${totalPage})"></div>
    </div>
</div>
</html>