<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<body>
<leftMenu th:fragment="leftMenu">
    <div class="leftMenu col-3 h-100 pt-3 d-flex flex-column align-items-center position-fixed top-0 start-0 bg-white gap-3" id="leftMenu">
        <div class="col-10 px-3 py-2 d-flex flex-column border rounded">
            <div class="ps-2 fw-bold">운영</div>
            <div class="col-12 d-flex border-bottom">
                <div class="menu-hover col-6 py-2 text-center border-end" onclick="commonRedirect('/account/create')">계정 생성</div>
                <div class="menu-hover col-6 py-2 text-center" onclick="commonRedirect('/account/manage')">계정 관리</div>
            </div>
            <div class="col-12 d-flex border-bottom">
                <div class="menu-hover col-6 py-2 text-center border-end" onclick="commonRedirect('/closing/manage')">임시휴무 관리</div>
                <div class="menu-hover col-6 py-2 text-center" onclick="commonRedirect('/closing-fixed/manage')">정기휴무 관리</div>
            </div>
            <div class="col-12 d-flex">
                <div class="menu-hover col-6 py-2 text-center border-end" onclick="commonRedirect('/category/manage')">카테고리 관리</div>
                <div class="menu-hover col-6 py-2 text-center" onclick="commonRedirect('/order/manage')">주문내역 관리</div>
            </div>
        </div>

        <div class="col-10 px-3 py-2 d-flex flex-column border rounded">
            <div class="ps-2 fw-bold">영업</div>
            <div class="col-12 d-flex border-bottom">
                <div class="menu-hover col-6 py-2 text-center border-end" onclick="commonRedirect('/sold-out/manage/menu-option')">옵션품절 관리</div>
                <div class="menu-hover col-6 py-2 text-center" onclick="commonRedirect('/sold-out/manage/menu')">메뉴품절 관리</div>
            </div>
            <div class="col-12 d-flex border-bottom">
                <div class="menu-hover col-6 py-2 text-center border-end" onclick="commonRedirect('/menu/create')">메뉴 생성</div>
                <div class="menu-hover col-6 py-2 text-center" onclick="commonRedirect('/menu/manage')">메뉴 관리</div>
            </div>
            <div class="col-12 d-flex">
                <div class="menu-hover col-6 py-2 text-center border-end" onclick="commonRedirect('/menu-option/create')">옵션 생성</div>
                <div class="menu-hover col-6 py-2 text-center" onclick="commonRedirect('/menu-option/manage')">옵션 관리</div>
            </div>
        </div>
    </div>

    <div class="w-100 h-100 position-fixed top-0 start-0 bg-black opacity-50 z-1 toggle-hide" id="darkArea"></div>
</leftMenu>
</body>
</html>