<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<th:block layout:fragment="script">
  <script th:src="@{/js/closing/manageClosingFixed.js}"></script>
</th:block>

<div layout:fragment="content" class="container col-8 p-0 d-flex flex-column align-items-center bg-white">

  <div class="col-12 mt-3 d-flex justify-content-start">
    <button type="button" class="basic-tag-btn border-end">임시휴무 관리</button>
    <button type="button" class="basic-tag-btn active">정기휴무 관리</button>
  </div>

  <hr class="col-12 m-0 mb-3">
  <div class="col-11 py-3 ps-3 fs-4 fw-bold text-start border-bottom border-dark border-3">정기휴무 관리</div>
  <div class="col-12 mt-3 text-secondary text-center">
    * 해당 월에 가장 처음있는 요일이 첫번째 입니다.<br>
    예시) 당월 1일이 월요일이면 두번째 월요일은 당월 7일, 두번째 화요일은 당월 8일 입니다.
  </div>
  <div class="bg-table col-6 mt-2 mb-5 p-3 shadow-sm">
    <table class="col-12">
      <thead>
      <tr class="border-bottom">
        <th class="col-1 pb-2">
          <input type="checkbox" />
        </th>
        <th class="col-4 pb-2">번째</th>
        <th class="col-4 pb-2">요일</th>
        <th class="col-4 pb-2">상태</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="py-1">
          <input type="checkbox" />
        </td>
        <td class="py-1">
          2번째
        </td>
        <td class="py-1">
          월요일
        </td>
        <td class="py-1">
          <button type="button" class="btn btn-success py-1 rounded-pill">사용중</button>
        </td>
      </tr>
      <tr>
        <td class="py-1">
          <input type="checkbox" />
        </td>
        <td class="py-1">
          2번째
        </td>
        <td class="py-1">
          월요일
        </td>
        <td class="py-1">
          <button type="button" class="btn btn-secondary py-1 rounded-pill">미사용중</button>
        </td>
      </tr>
      </tbody>
    </table>
    <div id="create-div" class="col-12 mt-3 p-2 d-flex flex-column align-items-center bg-white border d-none">
      <div class="col-11 d-flex justify-content-between">
        <div class="col-3 d-flex flex-column align-items-center">
          <label for="cfWeekNum">번째</label>
          <select id="cfWeekNum" class="form-select">
            <option>1번째</option>
            <option>2번째</option>
            <option>3번째</option>
            <option>4번째</option>
            <option>5번째</option>
          </select>
        </div>
        <div class="col-3 d-flex flex-column align-items-center">
          <label for="cfWeekDay">요일</label>
          <select id="cfWeekDay" class="form-select">
            <option>1번째</option>
            <option>2번째</option>
            <option>3번째</option>
            <option>4번째</option>
            <option>5번째</option>
          </select>
        </div>
        <div class="col-3 d-flex flex-column align-items-center">
          <label for="cfStatus">상태</label>
          <select id="cfStatus" class="form-select">
            <option>사용</option>
            <option>미사용</option>
          </select>
        </div>
      </div>
      <div class="col-12 mt-3 d-flex justify-content-center gap-3">
        <button type="button" class="btn btn-primary px-2 py-1">
          <i class="bi bi-floppy fs-5 py-1"></i>
          저장
        </button>
        <button type="button" id="close-create-btn" class="btn btn-danger px-2 py-1">
          <i class="bi bi-x-circle"></i>
          취소
        </button>
      </div>
    </div>
    <div class="col-12 d-flex justify-content-between gap-3">
      <button type="button" class="btn btn-danger px-2 pt-1 pb-0 mt-3">
        <i class="bi bi-trash3-fill"></i>
        삭제
      </button>
      <button type="button" id="open-create-btn" class="btn btn-primary px-2 pt-1 pb-0 mt-3">
        <i class="bi bi-plus-circle"></i>
        추가
      </button>
    </div>
  </div>
</div>
</html>